---
layout: archive
title: " "
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<h2>Talks</h2>
<ul>
  {% assign sorted_talks = site.talks | sort: "date" | reverse %}
  {% for post in sorted_talks %}
    {% if post.type == "Talk" %}
    <li>
      {{ post.title }}
      {% if post.venue %}, {{ post.venue }}{% endif %}
      <!-- {% if post.location %}, {{ post.location }}{% endif %} -->
      <!-- {% if post.date %} — <em>{{ post.date | date: "%B %Y" }}</em>{% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Posters</h2>
<ul>
  {% assign sorted_posters = site.talks | sort: "date" | reverse %}
  {% for post in sorted_posters %}
    {% if post.type == "Poster" %}
      <li>
        {{ post.title }}
        {% if post.venue %}, {{ post.venue }}{% endif %}
        <!-- {% if post.location %}, {{ post.location }}{% endif %} -->
        <!-- {% if post.date %} — <em>{{ post.date | date: "%B %Y" }}</em>{% endif %} -->
      </li>
    {% endif %}
  {% endfor %}
</ul>