---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "The University of Alabama" %}
    <li>
      <strong>{{ post.title }}</strong>
      <!-- {% if post.venue %}, {{ post.venue }}{% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Teaching</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "Teaching" %}
      <li>
        <strong>{{ post.title }}</strong>
        <!-- {% if post.venue %}, {{ post.venue }}{% endif %} -->
      </li>
    {% endif %}
  {% endfor %}
</ul>