---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Southern Methodist University</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "Southern Methodist University" %}
    <li>
      <strong>{{ post.title }}</strong>
      <!-- {% if post.venue %}, {{ post.venue }}{% endif %} -->
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>The Univerity of Alabama</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "The Univerity of Alabama" %}
      <li>
        <strong>{{ post.title }}</strong>
        <!-- {% if post.venue %}, {{ post.venue }}{% endif %} -->
      </li>
    {% endif %}
  {% endfor %}
</ul>