---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- <h2>Southern Methodist University</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "Southern Methodist University" %}
    <li>
      {{ post.title }}
    </li>
    {% endif %}
  {% endfor %}
</ul> -->

<h2><a href="https://www.ua.edu" target="_blank" rel="noopener">The University of Alabama</a> (Instructor)</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "The Univerity of Alabama" %}
      <li>
        {{ post.title }}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2><a href="https://www.ug.edu.gh/" target="_blank" rel="noopener">University of Ghana</a> (Teaching Assistant)</h2>
<ul>
  {% assign sorted_teaching = site.teaching | sort: "date" | reverse %}
  {% for post in sorted_teaching %}
    {% if post.type == "The Univerity of Alabama" %}
      <li>
        {{ post.title }}
      </li>
    {% endif %}
  {% endfor %}
</ul>